html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #053396;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  border: none;
  outline: none;
  background-color: #446ca7;
  width: 80%;
  height: 2rem;
  padding: 0.2rem 0 0.2rem 1rem;
  border-radius: 1rem;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 2rem;
}

@media (min-width: 600px) {
  .container {
    padding: 0 4rem;
  }
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.4rem;
}
